.dropdown {
    text-align: left;
}

li .active {
    color: #434eea;
    border-bottom: 2px solid #434eea;
}

.text-decrision {
    margin: 0;
    color: rgba(0, 0, 0, 9);
    font-size: 13px;
    visibility: visible;
    margin-bottom: 5px;
}

.services-info-list .icon-holder {
    background-color: #f7f9fb;
    padding: 20px 40px 10px;
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    transition: transform .3s;
    padding-top: 10px;
    text-align: center;
}


// .learn {
//     padding-top: 2px;
// }

.services-tabs .learn svg {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 12px;
    transition: transform .3s, -webkit-transform .3s;
    padding-left: 5px;
}

.services-tabs .tabs-nav li {
    padding: 0 5px 10px;
}
@media screen and (max-width: 1199px){
    .services-info-list {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .services-info-list .item {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.9);
        width: 220px;
        margin: 0 auto 25px;
    }

    .tab-title {
        width: 100%;
        text-align: center;
    }

    .services-tabs .tab-title {
        font-size: 24px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 376px){
    .services-tabs .tab-title {
        font-size: 16px;
    }

    .services-tabs ul {
        margin-bottom: 0;
    }

    .tabs-nav li {
        margin-bottom: 20px;
    }

    .services-info-list .item {
        text-align: center;
    }

    .text-decrision {
        font-size: 14px;
    }

    .services-tabs .tabs-nav li {
        font-size: 12px;
    }
    
}