.no-cases {
    font-size: 20px;
    padding-bottom: 115px;
    text-align: center;
    color: #212121;
}

.no-cases .container {
    max-width: 890px;
}

.no-cases .h2 {
    font-size: 40px;
    position: relative;
    padding-top: 30px;
    line-height: 1.4;
    margin-bottom: 13px;
}