@media screen and (max-width:1199px) {
    .digital-info-list li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        font-size: 16px;
    }

    .digital-info-list .h3 {
        color: #fff;
        font-size: 36px;
        line-height: 36px;
        font-weight: 800;
        margin-bottom: 0;
    }

    .digital-info .h3 strong {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-bottom: 10px;
    }

    .digital-info .features-info-list {
        border: none;
        margin-top: 30px;
        padding-top: 55px;
        padding-bottom: 30px;
    }

    .digital-info .features-info-list li {
        width: 33.33%;
        padding: 0 20px;
        margin-bottom: 47px;
    }
}

@media screen and (max-width: 376px){
    .digital-info h2 {
        font-size: 32px;
    }

    .digital-info-list li {
        width: 100%;
        margin-bottom: 35px;
    }

    .digital-info .features-info-list {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.87);
        border-top: 1px solid #fff;
        padding-top: 47px;
        margin-top: 50px;
        margin-bottom: 0;
        text-align: center;
        position: relative;
    }

    .digital-info .features-info-list li {
        width: 100%;
    }

    .features-info-list .icon {
        margin-bottom: 13px;
    }
}