.about-intro {
    margin-bottom: 82px;
    position: relative;
}

.photo-intro {
    background-position: 50% 100%;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-about {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.info-about {
    width: 100%;
    max-width: 543px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    color: #fff;
    text-align: center;
    font-size: 23px;
    line-height: 1.57;
    letter-spacing: -.2px;
    padding-top: 0;
}

h1 {
    line-height: 1.32;
    margin-bottom: 20px;
    color: #fff;
    font-size: 56px;
    letter-spacing: -.25px;
}

.features {
    text-align: center;
    color: #8492a8;
    // margin-bottom: 50px;
    margin-bottom: 10px;
}

// .container {
//     max-width: 1200px;
//     margin: 0 auto;
//     position: relative;
//     padding-left: 20px;
//     padding-right: 20px;
// }

.features .image .animated {
    opacity: 1;
    transform: translateY(0);
}

.features .images {
    max-width: 540px;
    margin-bottom: 42px;
    transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
    margin: 0 auto 30px;
}

.features .images img {
    display: block;
    margin: 0 auto;
}

.girl {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
}

img {
    max-width: 100%;
}

.features .h2 .animated {
    opacity: 1;
    transform: translateY(0);
}

.features .h2 {
    font-size: 57px;
    margin-bottom: 50px;
    transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
}

.h2 {
    letter-spacing: -.1px;
}

.features-list {
    margin: 0 -50px;
    font-size: 24px;
    letter-spacing: -.1px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.features-list .animated > * {
    transform: translateY(0);
    opacity: 1;
}

.features-list > *:first-child {
    transition-delay: .2s;
}

.features-list li {
    padding-left: 45px;
    padding-right: 45px;
    width: 33.33%;
    margin-bottom: 10px;
    transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
}
//////
.our-way h2 {
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -.5px;
    margin-bottom: 102px;
    transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
    text-align: center;
}

h2 {
    font-weight: normal;
    color: #18227b;
    display: block;
}

.our-way h2 .animated {
    opacity: .15;
    visibility: visible;
    transform: translateY(0);

}

.photo-box {
    margin-bottom: 120px;
    padding-bottom: 0;
    text-align: left;
}

.top-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    margin-bottom: 20px;
}


.photo-box .decription {
    width: 46%;
    margin-bottom: 0;
    padding: 0;
    letter-spacing: -.1px;
}

.photo-box .decription.animated > * {
    opacity: 1;
    transform: translateY(0);
}

.photo-box .decription > *:first-child {
    transition-delay: .2s;
}

.photo-box .h2 {
    margin-bottom: 30px;
}

.photo-box .decription > * {
    transition: opacity .4s ease-out, transform .4s ease-out, -webkit-transform .4s ease-out;
}

.h2 {
    line-height: 1.25;
    font-weight: normal;
    color: #18227b;
    display: block;
    font-size: 56px;
    letter-spacing: -.1px;
}

.photos-box .description > *:nth-child(2) {
    transition-delay: .4s;
}

.photo-box .description p {
    margin-bottom: 0;
}

p {
    margin: 0;
    font-size: 20px;
    letter-spacing: -.1px;
}


.images-holder {
    width: 49%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


.images {
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
}

.images-holder-button {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.images-one {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.images-two {
    width: 23.5%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.images-three {
    width: 23.5%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.photo-box .decription-2 {
    width: 46%;
    margin-bottom: 0;
    padding: 0;
    letter-spacing: -.1px;
}

.photo-box .description-2 p {
    margin-bottom: 0;
}

.decription-2 {
    order: 1;
}

.images-five {
    width: 23.5%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.images-six {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.images-seven {
    width: 23.5%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.images-holder-a {
    width: 49%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.images-a {
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: 48%;
}

.images-b {
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: 48%;
}

.images-ten {
    width: 23.5%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.images-elevent {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.images-twelve {
    width: 23.5%;
    display: inline-block;
    vertical-align: top;
    height: 420px;
    max-width: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.our-team {
    margin-bottom: 80px;
    text-align: center;
}

h2 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity .8s ease-out, transform .8s ease-out, -webkit-transform .8s ease-out;
    font-size: 56px;
    letter-spacing: -.1;
    font-family: 'Playfair Display', serif;
    line-height: 1.25;
    font-weight: normal;
    color: #18227b;
    display: block;
    margin: 0;
    margin-bottom: 60px;
}

.our-team ul {
    margin: 0 -20px 0 0;
    -webkit-box-pack: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    padding: 0;
}

.our-team li {
    width: 25%;
    padding: 0 20px 20px 0;
    transition: opacity .8s ease-out, transform .8s ease-out, -webkit-transform .8s ease-out;
}

// .our-team li .animated {
//     opacity: 1;
//     transform: translateY(0);
// }

.item-people {
    margin: 0;
    max-width: none;
    position: relative;
    text-align: left;
}

.our-team .img {
    display: block;
    border-radius: 8px;
}

img {
    max-width: 100%;
}

.infomation-people {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding: 20px 20px 12px;
}

.our-team .infomation-people strong {
    display: block;
}
////slider

.testimonials-holder {
    padding-bottom: 125px;
    padding-top: -55px;
}

.slick-slider {
    padding-bottom: 20px;
}

.slick-prev:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/svgexport-8.svg") 50% 50% no-repeat;
    background-size: 100%;
    z-index: 10;
}

.slick-arrow{
    top: 50%;
    margin-top: 25px;
    transition-delay: .4s;
    width: 74px;
    bottom: 30px;
    right: 35px;
    position: absolute;
    z-index: 30;
    height: 24px;
    text-indent: -9999px;
    background: none !important;
    min-width: 10px;
    padding: 0;
    cursor: pointer;
    box-shadow: none;
}

.slick-arrow::after {
    transition: transform .4s, -webkit-transform .4s;
    opacity: 1;
    visibility: visible;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

button {
    font-size: 22px;
    line-height: 1.3;
    display: inline-block;
    margin: 0 0 27px;
    border: none;
    color: #fff;
    font-weight: 500;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 4px;
    text-transform: capitalize;
    overflow: hidden;
}

.slick-prev {
    opacity: 1;
    margin-right: 30px;
    margin-top: 25px;
    left: -244px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next {
    right: -244px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
 
.slick-next::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/svgexport-15.svg") 50% 50% no-repeat;
    background-size: 100%;
    z-index: 10;
}

.testimonials {
    text-align: center;
    max-width: 528px;
    margin: 0 auto;
}

.slick-list {
    padding-top: 35px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}


.slick-track {
    opacity: 1;
    width: 1056px;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar-holder {
    margin-bottom: 35px;
    width: 121px;
    height: 121px;
    position: relative;
    margin: 0 auto 42px;
}

.avatar{
    width: 121px;
    height: 121px;
    border-radius: 42.5px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

blockquote {
    color: #000;
    font-size: 24px;
    line-height: 1.67;
    padding-bottom: 30px;
    margin-bottom: 52px;
    margin: 0 0 27px;
    position: relative;
}

blockquote:after {
    left: 40px;
    right: 40px;
    content: '';
    position: absolute;
    top: 100%;
    height: 1px;
    background: #d9d9e5;
}

blockquote p {
    margin: 0;
}

.full-review {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -0.1px;
    text-align: center;
    color: #224166;
    bottom: -9px;
    background: #fff;
    z-index: 10;
    padding: 0 20px;
}

// a {
//     text-decoration: none;
//     transition: color 0.4s;
//     outline: none;
// }

.full-review img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.author-details {
    font-size: 14px;
    color: #fff;
    padding-bottom: 14px;
    overflow: hidden;
}

cite {
    color: #363c91;
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -0.2px;
    display: block;
    font-weight: normal;
    font-style: normal;
}

.post {
    font-size: 20px;
    line-height: 1.5;
    opacity: .5;
    color: #9d9d9d;
    padding-top: 10px;
}

.button {
    width: auto;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.3;
    min-width: 300px;
    height: 64px;
    color: #fff;
    font-weight: 500;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    background-color: #434eea;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 4px;
    text-transform: capitalize;
    overflow: hidden;
}