.section {
    height: 798px;
}

.our-work .slides {
    padding-top: 95px;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    padding: 60px 0;
}



.our-work .image {
    max-width: 730px;
    width: 50%;
    left: 50%;
}

.our-work .image img {
    margin: 0 auto;
    max-height: 560px;
}
img {
    max-width: 100%;
    display: block;
}

.our-work .button-view {
    min-width: 256px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.3;
    height: 64px;
    padding: 18px 20px 20px;
    position: relative;
    display: inline-block;
    margin: 0 0 27px;
    font-weight: 500;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 4px;
    text-transform: capitalize;
    overflow: hidden;
}

.info {
    width: 45%;
}

@media screen and (max-width: 1199px) {
    .our-work .container {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .our-work .title {
        padding-bottom: 20px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }

    .our-work .icon {
        width: 60px;
        margin: 0 10px -10px -10px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .info p {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 1.43;
        color: #fff;
    }

    .our-work .button-view {
        height: 48px;
        background: none;
        border: 2px solid #fff;
        // color: #fff;
        margin-bottom: 0;
        padding: 9px 20px;
    }
    
}

@media screen and (max-width: 769px){
    .digital-info h2 {
        margin-top: 50px;
    }
}

@media screen and (max-width: 376px){
    .section {
        height: auto;
    }
    
    .our-work .container {
        display: block;
    }

    .our-work .image {
        width: 100%;
        margin: 0 0 20px;
        // padding-top: 150px;
    }

    .info {
        width: 100%;
    }

    .our-work .title {
        width: 100%;
        // padding-bottom: 0;
    }

    .our-work h3 {
        font-size: 24px;
        color: #fff;
        
    }

    .our-work .slides {
        padding-top: 95px;
    }

    .our-work .icon {
        height: auto;
    }

    .our-work .image img{
        max-height: none;
    }

    .our-work .title {

    }
}